body {
    background-color  : #D1CE56;
    text-align: center;
    padding: 100px;
}
.container{
    background-color:#6C6F00;
    width: 80vw;
    padding: 40px;
    height: 35vw;
    border-left: 3px solid black
}
.quote-text{
     min-height: 20vw;
}
.container h1 {
    font-size: 50px;
    text-align: left;
}
.container p {
    text-transform: capitalize;
    color: white;
    font-style: oblique;
    font-size: 40px;
    margin-left: 60%;

}
#btn {
    margin-top: 30px;
    font-size: 25px;
    padding: 10px 20px;
    background-color:#D1CE56;
    text-transform: uppercase;
}
#btn:hover{
    color: black;
    background-color: #D1CE56;
}
@media screen and (max-width:1080spx){


        .container p {
            text-transform: capitalize;
            color: white;
            font-style: oblique;
            font-size: 20px;
            margin-left: 60%;
        
        }
        .container h1 {
            font-size: 25px;
            text-align: left;
        }
        .container{
            background-color:#6C6F00;
            width: 400vw;
            padding: 20px;
            height: 75vw;
            border-left: 3px solid black
        }
        #btn {
            margin-top: 15px;
            font-size: 12px;
            padding: 5px 10px;
            background-color:#D1CE56;
            text-transform: uppercase;
        }

}
